body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	color: #444;
	// font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.8;
	margin: 0;
	
}

