a {
	color: $color__background-body;
	text-decoration: none;

	// a:visited {
	// 	color: #000000;
	// }
	

	&:hover,
	&:focus,
	&:active {
		color: $color__text-input-focus;
		text-decoration: underline;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
